@font-face{
	font-family: 'Franklin Gothic Heavy';
	src: url('../FONTS/franklin-gothic-heavy.ttf');
}

@font-face{
	font-family: 'Angsana New';
	src: url('../FONTS/angsa.ttf');
}

@font-face{
	font-family: 'Franklin Gothic Book';
	src: url('../FONTS/franklin-gothic-book.ttf');
}

*{
	margin: 0;
	padding: 0;
}

body{
	background: rgb(0,88,131); 

}

.logoUNAD{
	width: 15%;
	position: fixed;
}

.navegacion{
	position: fixed;
	top: 20px;
	left: 300px;
	width: 1000px;
	z-index: 10000;
	/*margin: 30px auto;*/
	background-color: rgba(0,0,0,0);
}
/* rgb(0,37,131); tono oscuro 
rgba(0,88,131); tono claro*/

.navegacion ul{
	list-style: none;	
}

.menu > li{
	position: relative;
	display: inline-block;
	border-radius: 50%;
}

.menu > li > a{
	display: block;
	padding: 15px;
	color:  white;
	font-family: 'Franklin Gothic Heavy';
	font-style: italic;
	font-size: 30px;
	text-decoration: none;
	border-radius: 50%;	
}

.menu > li > a:hover{
	box-shadow: 0px 0px 24px -1px rgba(255,255,255,1);
	/*background-color: rgba(0,88,131);*/
	color: white;
	transition: all .9s;
}

.submenu{
	position: absolute;
	left: -90px;
	display: -webkit-inline-box;
	background-color: rgba(0,0,0,0);
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.2s;	
}

/*.subMenu > li{
	position: relative;
	display: inline-flex;
}*/

.submenu li a{
	padding: 5px;
	color: white;
	font-family: 'Franklin Gothic Heavy';
	font-style: italic;
	font-size: 20px;
	text-decoration: none;
	border-left-color: white;
	border-left-style: solid;
	/*border-radius: 50%;*/
}


.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
	color: white;	
}

.submenu li a:hover{
	text-shadow: 0px 0px 30px rgba(0, 92, 255, 0.6);
	font-size: 30px;
}

.ventana{
	background-color: rgba(0,0,0,0);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding: 9px;
	text-align: center;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 24px -1px rgba(255,255,255,1);
}
.ventana a{
	font-family: 'Franklin Gothic Heavy';
	font-style: bold;
	font-size: 25px;
	text-decoration: none;	
	color: white;	
}


.ventana:hover{
	background-color: rgba(255, 255, 255, 0.3);	
	padding: 2px;
	transition: all .5s;
}

.bd{
	position: absolute;
	top: 150px;
	left: 550px;
}

.select{
	position: absolute;
	top: 220px;
	left: 170px;	
}

.insert{
	position: absolute;
	top: 400px;
	left: 400px;	
}

.update{
	position: absolute;
	top: 400px;
	left: 660px;
}

.delete{
	position: absolute;
	top: 220px;
	left: 900px;
}

.container-all{
	width: 100%;
	height: 100%;	
	position: fixed;
	top: 0px;	
	visibility: hidden;
	opacity: 0;	
}

.container-all:target{
	background-color: rgba(0,0,0,0.6);
	visibility: visible;
	opacity: 1;
}

.popup{
	width: 100%;
	max-width: 800px;
	height: 500px;
	position: relative;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,88,131, 1);
}

.img{
	width: 40%;
	background-image: url(../IMG/databaseMin.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.sel{
	background-image: url(../IMG/SELECTMin.png);
}

.ins{
	background-image: url(../IMG/INSERTMin.png);
}

.upd{
	background-image: url(../IMG/UPDATEMin.png);
}

.del{
	background-image: url(../IMG/DELETEMin.png);
}

.container-text{
	width: 60%;
	padding: 50px;
	overflow-y: auto;
}

.container-text h1,p,textarea{	
	text-decoration: none;	
	color: white;
}

.container-text h1{
	font-family: 'Franklin Gothic Heavy';
	font-size: 30px;
	font-style: bold;
}

.container-text p{
	font-family: 'Franklin Gothic Book';
	font-size: 20px;
	margin-top: 20px;
}

.container-text textarea{
	margin-top: 20px;
	font-family: 'Franklin Gothic Book';
	font-size: 15px;	
	background-color: rgba(5, 162, 255, 0.5);
	border-radius: 15px;
	padding: 5px;	
}

.container-text textarea:focus{
	outline: 0;
}

.btn-close-popup{
	position: absolute;
	right: 0px;
	top: 0px;	
	padding: 10px;
	background-color: rgba(5, 70, 131, 1);
	color: white;
	text-decoration: none;
}

.btn-close-popup:hover{
	background-color: rgba(5, 70, 131, 0.6);
}

.info{
	width: 100%;
    max-width: 850px;
    height: 222px;
    position: relative;
    display: flex;
    top: 15%;
    left: 60%;
    transform: translate(-65%, 90%);
}

.info ul{
	list-style: none;
}

.menuInfo > li{
	background-color: rgba(255,255,255,0.7);
	padding: 10px;
}

.menuInfo > li:hover{
	background-color: rgba(255,255,255,1);
}

.menuInfo > li > p{
	width: 880px;
	color: rgba(3,12,59,1);
	font-family: 'Angsana New';	
	font-size: 40px;
}

.subMenuInfo{
	display: none;
}

.subMenuInfo li p{
	padding: 2px;
	color: rgba(3,12,59,1);
	font-family: 'Franklin Gothic Book';	
	font-size: 20px;
}

.subMenuInfo .liObj{
	list-style-image: url('../IMG/listaMin.png');
	margin-left: 10px;
}

.menuInfo li:hover .subMenuInfo{
	display: block;
	visibility: visible;
	opacity: 1;
}

iframe{
	position: relative;
	top: 150px;
	margin-bottom: 50px;
}

.profile{
	position: absolute;
	top: 160px;
	left: 33%;
	background-color: white;
	width: 500px;
	height: 400px;	
	padding: 20px;
	border-radius: 5px;
}

.perfil{
	width: 35%;
	position: absolute;
	top: 2%;
	right: 0;
	left: 0;
	margin: 0 auto;	
}

.infProfile{
	position: relative;
	top:250px
}

.infProfile strong,label{
	padding-bottom: 10px;
	font-family: 'Angsana New';
	font-size: x-large;
}


.contenedora{
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: -300px; /* Establecemos la barra en la izquierda */
	top: 100px; /* Bajamos la barra 270px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */	
	
}

.contenedora img .logoTwitter {
	display: block;
	position: absolute;
	width: 60px; 
	height: 60px;
	transition: all 0.4s ease-in-out;
	z-index: 1000;
}

	
.contenedora .twitter {
	float: right;		
	transform: translateX(90px);/*Desplazamos 300px a la izquierda*/
	opacity: 1;
	transition: all 0.4s ease-in-out;
	background-color: rgba(19, 28, 28, 0.9);
	height: 230px;
}

.contenedora:hover .twitter {
	transform: translateX(-300px);/*Regresamos a su posicioón original*/
}

.contenedora:hover .logoTwitter{
	transform: translateX(-300px);/*Desplazamos 300px a la derecha*/
}

.contador{
	position: absolute;
	top: 0px;
	right: 0px;
}

.footContact {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    padding-bottom: 20px;
    color: #FFF;
    text-align: center;
    position: fixed;
    top: 520px;
    background-color: rgba(0,0,0,0.3);
}

.footContactTextES, .footContactTextEN {
    width: 32%;
    float: left;
    font-size: 11px;
    text-align: left;
    line-height: 14px;
}

